@media only screen and (min-width: 20em) and (max-width: 29em) {
    /* xs-s resolution mobile devices w/ min width of 320px */
        .grid-container {
        display: grid;
        grid-template-columns: auto;
        padding: .5em;
    }
    aside {display:none;}
}
@media only screen and (min-width: 30em) and (max-width: 64.9375em) {
        /* for medium-low hi-res devices such as iPad mini & res 480-1039px */
        .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        /* background-color: orange; */
        padding: .5em;
    }
}
@media only screen and (min-width: 65em) {
    /* for high-res devices starting at approx 1040px & higher */
        .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        /* background-color: yellow; */
        padding: .5em;
    }
}
@media print {
    p {color:black;}
    img {display: none;}
    aside {display:none;}
    .header {background-image: none;}
}
.grid-container {
    display: grid;
    gap: .8rem;
    padding: 1rem;
    padding: .5rem 0;
    /* border: 1px solid red; */
}
.grid-item {
    width: 9rem;
    font-size: 80%;
    padding: .5rem;
    margin: 1.5rem 2rem;
    border: 1px solid lightgray;
}
.grid-item img {
    width: 100%;
    height: 35%;
    margin-left: auto;
    margin-right: auto;
}
.header { 
    height: 18em;
    background-image: url("../images/header/header-medium.jpg");
    background-position: top;
    background-repeat: repeat-x;
}
body {
    font-family: sans-serif;
    font-size: 90%;
    background: linear-gradient(180deg, #013d62, white 25%);
}
a {
    text-decoration: none;
}
#logo {
    width: 400px;
    height: 200px;
    margin-top: -1em;
    /* border: 1px dashed red; */
    position: absolute;
    float: left;
}
.logo-sub {
    margin: 1em;
    color:greenyellow;
    font-family: 'Times New Roman', serif;
    font-style: italic;
    font-size: 100%;
    position: absolute;
    top: 9.5rem;
    float: left;
}
#checkout {
    width: 20%;
    height: 20%;
    margin-top: 1rem;
    /* border: 1px dashed red; */
    float: right;
}
.menu { 
    background-color: lightgrey;
    height: 3em;
}
.menu ul {
    padding-top: 1em;
    list-style-type: none;
}
.menu li {
    display: inline;
    padding-right: 1rem;
    font-weight: bolder;
}
.menu a:link {
    color:#013d62;
}
.menu a:visited {
    color: #013d62;
}
.menu a:hover {
    color: orange;
    transition-duration: .5s;
}
.content { 
    grid-area: main; 
}
h1 {
    color: #013d62;
    font-family:'Times New Roman', Times, serif;
}
h2 {
    color: #013d62;
    font-family:'Times New Roman', Times, serif;
}
.flexbox-container { 
    /* border: .5px dashed green; */
    /* width: 60rem; */
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.box img {
    width: 25%;
    height: 90%;
    float: left;
    padding: 1rem;
}
.profile-box {
    width: 8rem;
    font-size: 80%;
    padding: 1rem;
    margin: 1.5rem 3rem 1.5rem 3rem;
    border: 1px solid lightgray;
}
.profile-box img {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.price {
    font-weight: bolder;
}
.adopt-btn {
    background-color: green;
    color:white;
    text-align: center;
    padding: .5rem 3rem .5rem 3rem;
}
.more-btn {
    width: 5rem;
    background-color: lightgrey;
    color: #013d62;
    font-weight: bolder;
    text-align: center;
    font-size: 85%;
    padding: .5rem 1.25rem .5rem 1.25rem;
    margin: 1rem auto 1rem auto;
}
.blog-box {
    width: 40rem;
    font-size: 80%;
    padding: 1rem;
    margin: 1rem 3rem 1rem 3rem;
    /* border: 1px solid lightgray; */
}
.blog-box img {
    width: 40%;
    height: 40%;
    float: left;
    padding: 1rem;
}
form {
    margin: 1rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color:#013d62;
}
button, input, select, textarea {
    display: block;
    margin: 1rem;
}
.choice {
    display:inline;
}
#submit-button {
    margin: 3rem 0rem 1rem 0rem;
    background-color: green;
    color:white;
    text-align: center;
    padding: .25rem 1.5rem .25rem 1.5rem;
    border: none;
}
input:hover {
    background-color: lightgreen;
    color: white;
    transition-duration: .5s;
}
form img {
    height: 5%;
    width: 5%;
    padding-right: 1rem;
}
.footer {
    background-color: #013d62;
    text-align: center;
    color: white;
    font-size: 80%;
    padding-bottom: 1em;
}
.footer img {
    margin: 1rem;
    width: 30%;
    height: 30%;
}
.footer ul {
    list-style-type: none;
    padding: 1.5rem 1.5rem;
}
.footer li {
    /* border: .5px dashed red; */
    display: inline;
    padding-right: 1rem;
    color: white;
}
.footer a:link {
    color: white;
}
.footer a:visited {
    color: white;
}
.footer a:hover {
    color: orange;
    transition-duration: .5s;
}
aside {
    float: right;
    width: 13rem;
    margin: 1.5rem;
}
aside h3 {
    color: #013d62;
    font-family:'Times New Roman', Times, serif;
}
aside img {
    margin-top: 1em;
    width: 95%;
    height: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}