* {
  box-sizing: border-box;
}

.site-nav {
  background-color: lightgrey;
}

.site-nav ul {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
}

.site-nav ul li {
  padding: 0.5rem 1rem;
}

.site-nav a {
  text-decoration: none;
  color: DarkBlue;
  font-weight: bold;
}

footer {
  background-color: DarkBlue;
  color: white;
  text-align: center;
}

footer ul {
  list-style-type: none;
  text-decoration: none;
}

footer ul li a {
  text-decoration: none;
  color: white;
}

.thumbnail img {
  width: 10%;
}

h1 {
  color: green;
  font-style: italic;
  font-size: 1rem;
}

h3 {
  color: DarkBlue;
  font-weight: bold;
  font-size: 2rem;
}

h4 {
  color: DarkBlue;
  font-weight: bold;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
}
