* {
  box-sizing: border-box;
}

/* rem is whatever the percentage is divided by 16*/

body {
  font-family: arial, helvetica, sans-serif;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  /* background-color: gray; */
}

.button-1 {
  background-color: green;
  border: none;
  color: white;
  display: inline-block;
    /* border-radius: 5%; */
  text-align: center;
  box-sizing: border-box;
  font-size: 1em;
  width: 100%;
  height: 40px;
}

.hero {
  width: 100%;
  height: auto;
  background: url('../images/christopher-harris-57366-unsplash.jpg') no-repeat;
  color: white;
  background-size: 100%;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.shopping-cart {
  width: 30px;
  position: absolute;
  top: 40px;
  right: 220px;

}

span {
  position: absolute;
  top: 50px;
  right: 150px;

}

.checkout-btn {
  background-color: green;
  border: none;
  color: white;
  display: inline-block;
    /* border-radius: 5%; */
    /* box-sizing: border-box; */
  text-align: center;
  box-sizing: border-box;
  font-size: 1em;
  width: 10rem;
  height: 30px;
  position: absolute;
  top: 80px;
  right: 100px;

}


/* header  */

.menu-section {
  padding-bottom: 3em;
}

.single-nav-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background: hsl(0, 0%, 94%);
  height: 4em;
}

.single-nav-menu li {
  flex: 1 0 auto;
  text-align: center;
}

.single-nav-menu li a {
  text-decoration: none;
/*   padding: 0 .5em 0 1em; */
  color: #03446E;
  font-weight: bold;
  font-size: 1.1em;
}




/*hover*/

.main-container {
  width: 90vw;
  margin: auto;
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-columns: 40% 50%;
  grid-gap: 4%;
  padding-bottom: 4%;
  justify-content: space-around;
}

.man-dog-image img {
  width: 100%;
  object-fit: cover;
}




#main-content h3 {
  margin-bottom: 8px;
}





/* dog display */


.main-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  /*   border: .5px solid red; */
}

.dog {
  width: 22%;
  padding-bottom: 20px;
  margin-bottom: 80px;
  /*   outline: 1px dotted red; */
}

.main-content img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}










/* blog page */
.blog-container {
  display: grid;
  grid-template-columns: 40% 50%;
  grid-gap: 4%;
  padding-top: 4%;
  padding-bottom: 12%;
}

.blog-container img {
  width: 100%;
}





/* checkout page */




/* footer page  */



.footer-container {
  width: 100%;
  padding-top: 90px;
  padding-bottom: 30px;
  color: white;
  background-color: #03446E;
  text-align: center;
}

footer ul, li, a {
  font-family: helvetica, Arial;
  display: inline-block;
  text-decoration: none;
  padding: 0 10px 0 0;
  color: white;
}

.footer-container-inner img {
  width: 20%;
}
