* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3 {
  font-family: 'Noto Serif', serif;
  color: #183c5d;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}
/*---------------------------Header, Main Nav and Footer------------------------------ */
header {
  background-image: url("../images/christopher-harris-57366-unsplash.jpg");
  background-color: white;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 3%;
}
.header-logo img {
  width: 25rem;
}
.header-logo p {
  color: #8db553;
}
.header-cart img {
  width: 30px;
  height: auto;
}
.header-cart p {
  color: white;
}
.header-cart button {
  background-color: #8db553;
  color: white;
  border-radius: 2px;
  border-color: #8db553;
  width: 150px;
  height: 25px;
}
nav.main-nav {
  background-color: #ececec;
}
.main-nav-container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 2% 0;
}
.main-nav li {
  color: #183c5d;
  font-size: 1.25rem;
  font-weight: Bold;
}
.main-nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.main-nav a:visited {
  color: #183c5d;
}
.nav-with-slash::after { /* Adds a / after all nav links except last link */
  content: "/";
  margin: 0 15px;
}
footer {
  background-color: #183c5d;
  color: white;
  padding: 5% 0;
  margin-top: 5%;
}
footer img {
  display: block;
  margin: 0 auto;
  width: 25%;
  height: auto;
}
footer p {
  margin: 3% 35% 0;
  text-align: center;
}
footer nav {
  margin: 3% 40% 0;
}
.footer-nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 0 0 18%;
  padding: 0;
}
.footer-nav a:link {
  color: white;
}
.footer-nav a:visited {
  color: white;
}
.footer-nav a:visited {
  color: white;
}

/* -----------------------------------Home page-----------------------------------*/
.home-grid-container {
  margin: 2% auto 4%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2.5rem;
}
.home-intro {
  grid-column: 1 / span 4;
}
.home-intro img {
  float: left;
  width: 40%;
  height: auto;
  margin-right: 5%;
}
.dog-bio {
  background-color: white;
  border: 1px solid #ececec;
}
.dog-bio img {
  width: 100%;
  height: auto;
}
.dog-bio h3 {
  margin: 0;
}
.dog-bio span {
  font-weight: bold;
}
.dog-bio button {
  display: block;
  margin: 0 auto 8px;
  background-color: #8db553;
  color: white;
  border-radius: 2px;
  border-color: #8db553;
  width: 200px;
  height: 40px;
  font-size: 1.1rem;
}
.dog-bio-container {
  padding: 10px;
}
button.more-dogs {
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 250px;
  font-size: 1.4rem;
  background-color: #ececec;
  border-color: #ececec;
  border-radius: 5px;
  color: #183c5d;
}
/* -----------------------------------Blog page-----------------------------------*/
.blog-header-container {
  margin: 2% auto 4%;
  max-width: 1000px;
}
.blog-grid-container {
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 5.5rem;
}
.blog-grid-container h1 {
  margin: 0;
}
.blog-post img {
  float: left;
  width: 30%;
  height: auto;
  margin-right: 5%;
}
.blog-post h2 {
  margin: 0;
}
/* -----------------------------------Dogs page-----------------------------------*/
.dogs-grid-container {
  margin: 2% auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2.5rem;
}
.dogs-grid-container h1 {
  grid-column: 1 / span 4;
  margin: 0;
}
