*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
 }

body {
/*  background-color: #e6e6e6;*/
  width : 100%;
}

/****** Header ******/
.page-banner {
  background-image: url("../images/christopher-harris-57366-unsplash.jpg") !important ;
  background-color:  #0d0d0d;
  background-size: 91% 180%;
  background-position: right top;
  background-repeat : no-repeat;
  background-origin: content-box;
  height: 400px;
  width: 100%;
  color: white;
  min-width: 200px;
  padding: 10px;
  display : flex;
  align-items :center;
}

.page-banner-title {
  padding-left: 30%;
}

.page-banner-title h1 {
  color: #4d9900;
  font-size: 1.5rem;
  position: absolute;
  left: 8%;
  top: 150px;
}

.logo-top {
   width: 30%;
   height: 15%;
   max-width: 35rem;
   min-width: 15rem;
   min-height: 10rem;
   position: absolute;
   left: 100px;
   top: 20px;
}

.shopping-icon {
   width: 5%;
   min-width: 0.8rem;
   height: 1.5rem;
   position: absolute;
   top: 30px;
   right: 180px;
}

.banner-price {
   font-size: 1rem;
   color: white;
   position: absolute;
   top: 35px;
   right: 120px;
}

.checkout-button-top {
   background-color: #66cc00;
   outline: none;
   border: none;
   color: white;
   font-size: 1rem;
   width: 12%;
   min-width: 6rem;
   padding: 5px;
   margin: 10px;
   position: absolute;
   top: 55px;
   right: 80px;
}

.checkout-button-top:hover {
  background-color: grey;
}

/************** Banner Navigation************/

.nav-bar-container {
  width : 100%;
  padding-left: 15%;
  padding-top: 15px;
  background-color: #e6e6e6;
}

.nav-bar {
  padding: 0.5rem;
  width: 40%;
  height: 3.5rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  list-style-type: none;
}

.nav-bar li::after {
  padding-left: 20px;
  padding-right: 20px;
  content: "/";
}

.nav-bar li:last-child::after {
  content: "";
}

.nav-bar li a {
  text-decoration : none;
  color: #003366;
  font-size: 1.2rem;
  font-weight: bold;
}

.page-title {
  font-size : 2rem;
  color : #003366;
}

/************ Main *************/
.index-main {
  display: grid;
  grid-template-columns: 2fr 1.25fr;
  grid-column-gap: 20px;
}

.wrapper-main {
  background-color: white;
  width: 100%;
  max-width: 1450px;
  padding-left: 20%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
}

.wrapper {
  background-color: white;
  width: 100%;
  padding-left: 15%;
  padding-top: 20px;
  padding-bottom: 20px;
  }

.intro {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: auto 0;
  grid-column: 1 / span 3;
  grid-row-start: 1;
}


.hugging-img {
  padding-left: 3%;
  width : 97%;
  height : 21rem;
}

.intro-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 20px;
}

.intro-content > p {
  font-size: 1rem;
  font-family: 'Noto Sans SC', sans-serif;
  margin-top: 10px;
  color: #808080;
}

.intro-content > h2 {
  margin-top: 10px;
  color: #003366;
}

.dog-info {
  width: 100%;
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 1.8rem;
  margin-top: 1.8rem;
  border: 1px solid #e6e6e6;
}

.dog-img {
  width: 100%;
  height: 7.5rem;
}

.dog-info > h3 {
  color: #003366;
  margin-top: 0.5rem;
  padding-left: 10px;
}

.dog-info > h5 {
  margin-top: 0.5rem;
  padding-left: 10px;
  font-size: 0.8rem;
  font-family: 'Noto Sans SC', sans-serif;
}

.dog-info > p {
  margin-top: 0.5rem;
  padding-left: 10px;
  font-size: 0.80rem;
  font-family: 'Noto Sans SC', sans-serif;
}

.checkout-button {
  background-color: #66cc00;
  color: white;
  width: 60%;
  height: 1.5rem;
  margin-top: 0.7rem;
  margin-left: 20%;
  margin-bottom: 0.5rem;
  outline: none;
  border: none;
  padding: 3px;
  font-size: 1rem;
}

.checkout-button:hover {
  background-color: #408000;
}

.grey-button {
  background-color: grey;
  color: white;
  width: 10rem;
  padding: 5px;
  border: none;
  outline: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
  grid-column : 1 / span 4;
}

.grey-button:hover {
  background-color: black;
}

.button-article {
  grid-column: 1 / span 3;
  align-self: center;
}
/*********Main Page Aside*************/
.aside-wrapper {
  width: 100%;
  margin-top: 20px;
  padding-right: 50%;
  background-color: white;
}

.aside-article {
  margin-top: 20px;
  margin-bottom: 40px;
}

.blog-small-img {
  width: 100%;
  height: 10rem;
  padding: 10px;
}

.aside-link {
  color: #2eb8b8;
  font-size: .95rem;
  text-decoration: none;
  font-family: 'Noto Sans SC', sans-serif;
}

.aside-article > h3 {
  color: #003366;
  margin-top: 0.2rem;
  padding: 5px;
  font-size: 1.25rem;
}

.aside-article > p {
  margin-top: 0.2rem;
  padding: 5px;
  font-size: 1rem;
  font-family: 'Noto Sans SC', sans-serif;
}

/****** footer *******/

footer {
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #004466;
  color: white;
}

.footer-wrapper {
  width: 100%;
  height: 18rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.logo-bottom {
   width: 50%;
   height: 30%;
   max-width: 20rem;
   min-width: 5rem;
   align-self: center;
 }

.nav-footer-container {
  width: 100%;
}

.nav-footer {
  padding: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:center;
  list-style-type: none;
}

.nav-footer li::after {
  padding-left: 20px;
  padding-right: 20px;
  content: "/";
}

.nav-footer li:last-child::after {
  content: "";
}

.nav-footer > li > a {
  text-decoration : none;
  color: white;
  font-size: 1rem;
}

.footer-text > p {
  height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/************Dogs Web - Page*****************/

.wrapper-dogs {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 5%;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
}

.wrapper-dogs > h1 {
  grid-column: 1 / span 4;
}


/******** blog Web-pages ************/

.blog-img {
  width: 20rem;
  height: 15rem;
}

.blog-topic {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 60px;
}

.blog-content {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-left: 30px;
}

.blog-content > p {
  font-size: 1rem;
  align-self: center;
  font-family: 'Noto Sans SC', sans-serif;
}

.blog-content > h3 {
  font-size: 1.6rem;
  color: #003366;
  margin-bottom: 20px;
}

/********** Checkout Web - Page *************/
.checkout-form {
  width: 80%;
  padding: 20px;
}

label {
  width: 40%;
  display: block;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  max-width: 1500px;
  font-size: 1.2rem;
  color: #003366;
  font-weight: bold;
}

input {
  width: 80%;
  display: block;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  max-width: 1500px;
  border: 1px black solid;
  font-size: 1.2rem;
  padding: 6px;
  border: 1px  #cccccc solid;
}

select {
  width: 40%;
  display: block;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  font-size: 1rem;
  padding: 8px;
  border: 1px  #cccccc solid;
}

.label-inline {
  display: inline-block;
  width: 30%;
}

.input-inline {
  display: inline-block;
  width: 30%;
}

.select-inline {
  display: inline-block;
  width: 30%;
}

.label-inline-small {
  display: inline-block;
  min-width: 40px;
  max-width: 100px;
  width: 5%;
}

.input-inline-small {
  display: inline-block;
  min-width: 40px;
  width: 15%;
  max-width: 100px;
  width: 5%;
}

.adopted-dog-img {
  display: inline-block;
  float: left;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  height: 4.5rem;
  max-width: 15rem;
}

.adopted-dog-name {
  display: inline-block;
  width: 40%;
  margin-top: 0.75rem;
  color: #003366;
  font-size: 1.5rem;
  margin-left: 20px;
}

.adopted-dog-price {
  display: inline-block;
  width: 40%;
  margin-top: 1rem;
  color: #666666;
  font-size: 0.8rem;
  margin-left: 20px;
}

.adoption-title {
  clear: both;
  display: block;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  width: 40%;
  font-size: 1.2rem;
  color: #003366;
  font-weight: bold;
}

.price {
  display: block;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  font-size: 1.5rem;
}


/********@Media **************/


/****** For Ipad ******/
@media (max-width : 800px) {
  .aside-wrapper {
    display : none;
  }
  .index-main {
    grid-template-columns: 1fr;
    padding-left: 15%;
    padding-right: 15%;
  }
  .wrapper-main {
    grid-template-columns: 1fr 1fr;
    padding-left: 0%;
  }
  .wrapper-dogs {
    grid-template-columns: 1fr 1fr ;
    padding-left: 15%;
    padding-right: 10%;
  }
  .wrapper-dogs > h1 {
    grid-column: 1 / span 2;
  }
  .wrapper {
    padding-left: 10%;
  }
  .intro {
    grid-column: 1 / span 2;
  }
  .button-article {
    grid-column: 1 / span 2;
  }
  .page-banner-title h1 {
    top: 200px;
  }
  .logo-top {
    left: 8%;
     top: 50px;
  }
  .checkout-form{
    padding-left: 0;
    padding-right: 0;
  }
  .blog-topic {
    flex-direction: row;
    padding-right: 15%;
  }
  .blog-content{
    padding: 10%;
    width: 100%;
  }
  .blog-img {
    width: 80%;
  }
}


/************* For Pixel 2 XL *********/

@media (max-width : 420px) {
  .aside-wrapper {
    display : none;
  }
  .index-main {
    grid-template-columns: 1fr;
    padding-left: 15%;
    padding-right: 10%;
  }
  .wrapper-main {
    grid-template-columns: 1fr ;
    padding-left: 0%;
  }
  .wrapper-dogs {
    grid-template-columns: 1fr ;
    padding-left: 15%;
    padding-right: 10%;
  }
  .wrapper {
    padding-left: 10%;
  }
  .wrapper-dogs > h1 {
    grid-column: 1 / span 1;
  }
  .intro {
    grid-column: 1 ;
  }
  .button-article {
    grid-column: 1 ;
  }
  .page-banner-title h1 {
    top: 200px;
  }
  .logo-top {
    left: 8%;
    top: 50px;
  }
  .footer-text > p{
    font-size: 0.9rem;
  }
  .checkout-form{
    padding-left: 0;
    padding-right: 0;
  }
  .blog-topic {
    flex-direction: row;
    padding-right: 15%;
  }
  .blog-content{
    padding: 10%;
    width: 100%;
  }
}

/************** For Print ************/
@media print {
  body {
    width: 100%;
  }
  main {
    width : 100%;
  }
  .page-banner {
    height: 275px;
  }
  .index-main {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
  }
  .wrapper-main {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    padding: 0;
  }
  .wrapper-dogs {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0;
  }
  .wrapper {
    margin: 0;
    padding: 0;
  }
  .blog-topic {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;;
  }
  .blog-img {
    width: 30%;
    padding: 0;
  }
  .blog-content {
    width: 70%;
    padding: 0;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
  }
  .blog-content > p {
    font-size: 0.8rem;
  }
  .wrapper-dogs > .dog-info {
    margin-top: 10px;
  }
  .dog-info > .checkout-button {
    display: none;
  }
  .wrapper-dogs > h1 {
    grid-column: 1 / span 4;
  }
  .intro{
    display: flex;
    flex-direction: row;
    grid-column: 1 / span 3;
  }
  .button-article {
    display: none;
  }
  .hugging-img {
    width: 40%;
    height: 300px;
  }
  .intro-content {
    width: 60%;
  }
  .page-banner-Link {
    display: none;
  }
  .aside-wrapper {
    display : none;
  }
  .nav-bar-container {
    display: none;
  }
  .nav-footer-container{
    display: none;
  }
  footer {
    height : 200px;
  }
}
