header {
  background-color: black;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}
img {
  width: 10%;
  overflow: hidden;
}
h1 {
    color: #009933;
    font-size: 1.75em;
    font-weight: bold;
    font-family: Arial;
    font-style: italic;
    padding-left: .5em;
}
a:link {
  color: #003399;
  font-family: Arial;
  font-size: 17px;
  text-decoration: none;
}
a:visited {
  color: #003399;
  font-family: Arial;
  font-size: 17px;
  text-decoration: none;
}
/*.grid-container {
  padding: 3em 3em 3em 3em;
  display: grid;
  grid-column-gap: 5em;
  grid-row-gap: 5em;
}*/
/*.grid-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}*/
@media (max-width: 415px) {
  .grid-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  }
}
@media (max-width: 1050px) {
  .grid-container {
  width: 30%;
  }
}
.grid-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.dog {
  outline: 2px solid lightgray;
  width: 20%;
  margin: 15px;
}
/*.Poppy {
  outline: 2px solid lightgray;
  width: 25%;
  margin: 15px;
}
.Jack {
  outline: 2px solid lightgray;
  width: 25%;
  margin: 15px;
}
.Duffy {
  outline: 2px solid lightgray;
  width: 25%;
  margin: 15px;
}
.Lucas {
  outline: 2px solid lightgray;
  width: 25%;
  margin: 15px;
}
.Jake {
  outline: 2px solid lightgray;
  width: 25%;
  margin: 15px;
}
.Angus {
  outline: 2px solid lightgray;
  width: 25%;
  margin: 15px;
}
.Violet {
  outline: 2px solid lightgray;
  width: 25%;
  margin: 15px;
}
.Piper {
  outline: 2px solid lightgray;
  width: 25%;
  margin: 15px;
}
.Maximus {
  outline: 2px solid lightgray;
  width: 25%;
  margin: 15px;
}
.Luna {
  outline: 2px solid lightgray;
  width: 25%;
  margin: 15px;
}
.Stella {
  outline: 2px solid lightgray;
  width: 25%;
  margin: 15px;
}*/
p {
  font-family: Arial;
}
footer {
  width: 100%;
  height: 400px;
  background-color: #003399;
}
.profile {
  width: 100%;
}
