* {
  box-sizing: border-box;
}

body {
display: grid;
font-family: Arial, sans-serif;
font-size: 14px;
margin: 0;
padding: 0; 
}

header {
  background-image: url("https://raw.githubusercontent.com/UWFront-End-Cert/html200/master/adopt-a-dog/images/header-images/header-large.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 390px;
}


.logo {
  position: relative; 
  margin: 0;
  padding: -12px; 
}

h1 {
  color: lightgreen; 
  font-size: 20px; 
}


main.nav{
  padding: 1rem;
  width: 100%;
}

 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightgrey; 
}


 li {
  float: left;
}

 li a {
  display: block;
  color: #26466D;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; 
}



img {
  padding: 5px;
  width: 100%;
}


grid-container {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: auto auto auto auto;
  background-color white;
  padding: 10px;
}

.grid-dog {
  background-color: rgba(255, 255, 255);
  border: 1px solid rgba(0, 0, 0);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.main-footer {
  background-color: #26466D;
  position: relative;
  text-align: center;
  padding: 2rem;
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  }
  