* {
  box-sizing: border-box;
}

body {
  font-size: 1.3rem;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}

header {
  background-image: url("../adopt-a-dog/images/christopher-harris-57366-unsplash.jpg");
  max-width: 100%;
  height: 36rem;
  background-size: cover;
  background-attachment: fixed;
}

footer {
  background-color: rgb(9, 60, 96);
}

.footer-container {
  width: 35%;
  margin: auto;
  padding: 100px 0px;
  text-align: center;
  line-height: 160%;
  color: white;
  /* font-size: 1.1rem; */
}

.footer-container > p {
  padding: 0 50px 0 50px;
  font-size: 1.2rem;
}

.footer-container > a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 40px 20px 30px 0;
}

/* Home Page Code */

.flexbox {
  display: flex;
}

.left-side {
  flex: 50%;
  margin-left: 100px;
  padding: 5px 0px 5px 0px;
}

.left-side > img {
  margin-top: 8%;
}

.left-side > h1 {
  font-family: 'Noto Serif SC', serif;
  color: rgb(129,183,65);
  font-style: italic;
  margin: 0;
  font-size: 1.7rem;
}

.right-side {
  flex: 50%;
  float: right;
  margin-right: 70px;
  color: white;
}

.flex {
  display: flex;
}

.column-left {
  flex: 13%;
  float: right;
  width: 0;
  margin-left: 68%;
  margin-top: 8%;
}

.column-right {
  flex: 85%;
  float: right;
  margin-top: 8%;
  padding-left: 0;
  font-size: 1rem;
  font-weight: bold;
}

.right-side > button {
  color: white;
  background-color: rgb(129,183,65);
  width: 20%;
  height: 12%;
  border: none;
  margin: 0 0 0 62%;
  font-weight: bold;
  padding: 0;
}

.nav-container {
  padding: 2rem 1.5rem 2rem 0;
  background-color: rgb(235, 235, 235);
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

nav {
  margin: 0px 250px;
}

nav > a {
  padding: 10px;
  color: rgb(9,60,96);
  text-decoration: none;
}

main {
  background-color: white;
}

.flex-container {
  display: flex;
  padding: 20px 20px 20px 0;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.left-column {
  flex: 30%;
  margin-left: 250px;
  padding: 15px 0px 5px 0px;
}

.right-column {
  flex: 70%;
  margin-right: 250px;
  padding-left: 70px;
  /* font-size: 1.5rem; */
}

.right-column > h1 {
  font-family: 'Noto Serif SC', serif;
  color: rgb(9,60,96);
  font-size: 2.2rem;
}

.right-column > p {
  color: black;
  margin-right: 20px;
}

button {
  background-color: rgb(129,183,65);
  border-radius: .2rem;
  width: 65%;
  padding: 3%;
  color: white;
  margin: 0 auto 10% auto;
  display: block;
  font-weight: bold;
  font-size: 1.1rem;
}

.see > button {
  background-color: rgb(236, 236, 236);
  text-align: center;
  width: 15%;
  padding: 15px;
  color: rgb(9, 60, 96);
  font-weight: bold;
  font-size: 1.5rem;
  border: none;
  display: block;
  margin: 0 auto 7% auto;
}

/* Dog-Tile Code */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-left: 250px;
  margin-right: 250px;
  width: 650px;
  grid-column-gap: 70px;
}

.dog-tile {
  border: .5px solid lightgray;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin: 20px 0 50px 0;
}

.dog-tile > h3 {
  font-family: 'Noto Serif SC', serif;
  margin: 15px;
  font-size: 1.3rem;
  color: rgb(9, 60, 96);
}

.dog-tile > p {
  font-size: 1rem;
  margin: 5px 70px 20px 15px;
  font-weight: normal;
}

/* Dogs page Code */

h2 {
  font-family: 'Noto Serif SC', serif;
  font-size: 2rem;
  margin-left: 250px;
  color: rgb(9, 60, 96);
}

/* Blogs Page Code */

.column {
  float: left;
}

.left {
  width: 35%;
  height: 400px;
}

.right {
  width: 65%;
}

.right > p {
  font-size: 1.4rem;
}

.right > h3 {
  font-family: 'Noto Serif SC', serif;
  font-size: 1.7rem;
  margin-top: 0;
  color: rgb(9, 60, 96);
}

.row {
  background-color: #fff;
  margin: 1% 11%;
  padding: 40px 40px 0 40px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.right-column2 > h3 {
  font-family: 'Noto Serif SC', serif;
  color: rgb(9,60,96);
  margin-left: 35px;
  margin-top: 35px;
  margin-bottom: 0;
  /* font-size: 1.9rem; */
}

.right-column2 > p {
  margin-right: 250px;
  text-align: justify;
  /* font-size: 1.2rem; */
  margin-left: 35px;
  line-height: 2rem;
}

.left-column2 > img {
  margin-top: 4px;
  padding: 25px 25px 25px 0;
}

/* Contact Page Code */

label {
  color: rgb(9,60,96);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 20px 20px 20px 0;
  margin-left: 250px;
}

input[type=text], input[type=email] {
  margin: 20px 0px 20px 250px;
  padding: 20px;
  width: 20%;
}

.move-left {
  margin-left: 455px;
}

.move-left2 {
  margin-left: 250px;
}

select {
  margin-left: 100px;
  padding: 20px;
  width: 10%;
}

#zip-code {
  margin-left: 140px;
  padding: 20px;
  width: 10%;
}

input[type=submit] {
  background-color: rgb(129,183,65);
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  width: 15%;
  border-radius: 5px;
  height: 50px;
  border: none;
  padding: 0;
}

.radio-button {
  margin: 30px 0 10px 250px;
}

.place > select {
  margin-left: 250px;
  margin-top: 20px;
  padding: 20px;
  width: 20%;
}

form > p {
  margin: 30px 0 0 250px;
}
